body {
	background-color: #edede0;
	font-family: monospace;
}
.b {
	font-weight: bold;
}
.nowrap {
	white-space: nowrap;
}
.overline {
	text-decoration: overline;
}
.underline {
	text-decoration: underline;
}

.larger {
	font-size: larger;
}

.hcenter {
	text-align: center;
}

.tmtt, .tmmh {
	font-family: monospace;
}

table.tmtt,
table.tmmh,
table.tmmeta {
	border-collapse: collapse;
	border: 1px solid black;
}

table.tmtt thead td,
table.tmmh thead td {
	background-color: #adcdfe;
}

.tmmeta-label {
	background-color: #adcdfe;
}

table.tmtt td,
table.tmmh td {
	padding: 4px;
}

table.tmmh td,
table.tmmeta td {
	border: 1px solid black;
}

table.tmtt tbody td,
table.tmmh tbody td {
	text-align: center;
}

table.tmmeta td {
	padding: 6px;
}
.tmmeta-value {
	min-width: 100px;
}

/* solid */
td.tmttb-susdslsr {
	border: 1px solid black;
}
/* thead top, "On 0" */
td.tmttb-supdslsr {
	border-top: 1px solid black;
	border-bottom: 1px dotted #999999;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
/* thead bottom, "Write" */
td.tmttb-pusdslpr {
	border-top: 1px dotted #999999;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px dotted #999999;
}
/* thead bottom, "Move" */
td.tmttb-pusdplpr {
	border-top: 1px dotted #999999;
	border-bottom: 1px solid black;
	border-left: 1px dotted #999999;
	border-right: 1px dotted #999999;
}
/* thead bottom, "Goto" */
td.tmttb-pusdplsr {
	border-top: 1px dotted #999999;
	border-bottom: 1px solid black;
	border-left: 1px dotted #999999;
	border-right: 1px solid black;
}
/* tbody col Write */
td.tmttb-susdslpr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px dotted #999999;
}
/* tbody col Move */
td.tmttb-susdplpr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px dotted #999999;
	border-right: 1px dotted #999999;
}
/* tbody col Goto */
td.tmttb-susdplsr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px dotted #999999;
	border-right: 1px solid black;
}

.tfh-tdleft,
table.tmmh tbody td.tfh-tdleft {
    text-align: right;
	border-right: 0;
	padding-right: 0;
	padding-left: 2em;
}
.tfh-tdhead,
table.tmmh tbody td.tfh-tdhead {
	text-align: right;
	border-left: 0;
	border-right: 0;
	padding-left: 0;
	padding-right: 0;
}
.tfh-tdright,
table.tmmh tbody td.tfh-tdright {
    text-align: left;
	border-left: 0;
	padding-left: 0;
	padding-right: 2em;
}
.tfh-tleft {

}
.tfh-thead {
    text-decoration: overline;
}
.tfh-tright {

}
.tmmh-wrapper {
	display: block;
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: min-content;
	resize: both;
}

.page-section {
	border: 1px solid #a8a0ff;
	border-radius: 12px;
	background-color: #f8fbff;
	padding: 24px;
	margin-top: 6px;
	margin-bottom: 6px;
}
.section-label {
	font-size: x-large;
	margin-bottom: 6px;
	font-weight: bold;
}